@import "~normalize.css/normalize.css";
html, body, #app {
	height: 100% !important;
	width: 100% !important;
}

#app {	
	background: #7893a1;
}

.container {
	background: #e3e3e3;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	min-height: 10%;
	position: relative;
	top: 10%;
}

#header {
	margin: 0;
	line-height: 10vh;
	font-size: 5vh;
	font-family: "Avenir-Light";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

ul {
	margin: 0;
	list-style-type: none;
}

.addButton {
	float: left;
}

.notes {
	padding: 0;
	width: 50%;
	margin: 0 auto;
}

.note {
 	padding: 10px 0;
}

.note input {
	outline: none;
	background: #e3e3e3;
	border: none;
	margin: 0 auto;
}

.note:hover {
	box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.3);
}

.deleteButton {
	visibility: hidden;
	float: right;
}

.note:hover .deleteButton {
	visibility: visible;
}
