@import "~normalize.css/normalize.css";
html, body, #app {
	height: 100% !important;
	width: 100% !important;
}

#app {	
	background: black;
}

#container {
	background: white;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	height: 10%;
	position: relative;
	top: 10%;
}

#header {
	margin: 0;
	line-height: 10vh;
	font-size: 5vh;
	font-family: "Avenir-Light";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}



